Cython==3.0.10
easydict
filterpy==1.4.5
lap==0.5.12
matplotlib==3.7.5
motmetrics==1.4.0
numba==0.58.1
numpy
opencv-python==4.7.0.68
opendatalab==0.0.10
pandas==2.0.3
progress==1.6
PyYAML==6.0.2
scikit-image==0.21.0
scipy==1.10.1
thop
tqdm==4.65.2
